
<div class="box-comments">
    <div class="title-box-2">
        <h4 class="title-comments title-left">Cart Content</h4>
    </div>
    
    @for (product of myData; track $index) {
     
        <div class="comment-avatar">
            <img src="{{product.thumbnail}}" height="100px" width="100px">
        </div>
        <div class="comment-details">
            <h4 class="comment-author">{{product.title}}</h4>
            <strong>Price: </strong> <span>  {{product.price}}$  </span> <br>
            <strong>Description: </strong> <p>  {{product.description.substring(0,100)}} ...  </p>

            <button class="btn btn-success" (click)="increaseQuantity(product.id)">Increase + </button> &nbsp; &nbsp;
            <span>{{product.quantity}}</span> &nbsp; &nbsp;
            <button class="btn btn-danger" (click)="decreaseQuantity(product.id)">Decrease - </button>
            &nbsp; &nbsp;
            <button class="btn btn-warning" (click)="removeProduct(product.id)">Remove Product</button>
        </div>
        <br> <hr>
    }@empty {
        
        <h4 class="comment-author" style="text-align: center;">Cart is Empty!</h4>
    }

</div>