<!-- <app-detail></app-detail> -->
    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Portfolio
                </h3>
                <p class="subtitle-a">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
  
            @for (product of ReceivedData; track $index) {

              <div class="col-md-4">
                <div class="work-box">
                  <a href="{{product.thumbnail}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                    <div class="work-img">
                      <img src="{{product.thumbnail}}" width="200px" height="200px" alt="" class="img-fluid">
                    </div>
                  </a>

                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title">{{product.title}}</h2>
                        <div class="w-more">
                          <span class="w-ctegory">{{product.category}}</span> / <span class="w-date">{{product.brand}}</span>
                        </div>
                        <br>
                      </div>

                      
                      <div> Rate : 
                        <span class = "fa fa-star checked"></span>  
                        <span class = "fa fa-star checked"></span>  
                          <span class = "fa fa-star checked"></span>  
                          <span class = "fa fa-star unchecked"></span>
                      </div>

                      <div class="col-md-12"> <br>
                        <button type="button" (click)="view(product.id)" class="button button-a button-small">View</button> &nbsp;
                        <button type="button" disabled class="button button-a button-small">Add To Cart</button>
                      </div>
                      
                        
                    </div>
                  </div>
                </div>
              </div>

            }
            
          
          </div>
        </div>
      </section><!-- End Portfolio Section -->