 
    <main id="main">
  
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="{{productDetails.thumbnail}}" alt="">
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Product information</h3>
                <ul>
                  <li><strong>Title</strong>: {{productDetails.title}}</li>
                  <li><strong>Product Price</strong>: {{productDetails.price}}$</li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>This product Description </h2>
                <p>
                  {{productDetails.description}}
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Details Section -->
  
    </main><!-- End #main -->
  
  